$body-font: "Open Sans", sans-serif;
$font-size-normal: 20px;
$font-size-slider: 14px;

// Colors
$primary: #ED6A5A;
//$secondary: #A1E6CC;
$secondary: #2394F3;
$secondary-dark: #65B194;
$white: #fff;
$grey: #e7e7e7;
$dark-grey: #ADA8B6;
$black: #545353;

$bp-full:               '(max-width: 999px)';
$bp-medium:             '(max-width: 799px)';
$bp-small:              '(max-width: 499px)';

@mixin flex {
    // write the css here
    display: -webkit-flex;
    display: flex;
}

.search-field__input {
    border: 0;
    outline: none;
    background: transparent;
    border-bottom: 2px solid lightgrey;
    margin: 5px 0 20px 0;
    width: 40%;

    h3 {
        font-size: 22px;
    }
}

input[type="text"], textarea {
    background-color : #fff;
    border-color: black;
    font-weight: 200;
    font-size: 20px;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

button {
    display: block;
    width: 20%;
    background: $secondary;
    outline: 0;
    border: 0;
    padding: 12px 20px;
    border: 2px solid transparent;
    text-transform: uppercase;
    font-family: $body-font;
    font-size: 15px;
    color: $white;
    letter-spacing: 2px;
    transition: all 0.25s ease;

  &:hover,
  &:focus {
        border-color: $secondary;
        background: transparent;
        color: $secondary;
    }
}

/*  slider */
.slider__component {
  padding: 10px 40px;

  .slider__container {
    display: flex;
    height: 100px;
    width: 100%;

    @media #{$bp-full} {
      display: grid;
    }
  }
  #slider-section {
      float: left;
      opacity: 0.5;
      width: 80%;

      .slider-text, .ticks {
        font-family: $body-font;
        font-size: $font-size-slider;
      }

      .tooltip {
        width: 200px;
        height: 30px;
        border: 2px solid  $secondary;
        font-family: $body-font;
        font-size: $font-size-slider;
        padding-top: 4px;
      }

      @media #{$bp-full} {
        width: 100%;
        height: 100px;
      }
  }

  .slider__component__checkbox {
      padding: 20px 0 0 20px;
      width: 20%;

      label {
          color: #333;
          cursor: pointer;
          margin: 0 0 0 2px;
          padding: 0;
          font-size: $font-size-slider;
          font-family: $body-font;
          font-weight: 200;
      }

      @media #{$bp-full} {
        padding: 0;
        width: 100%;
      }
  }

    input[type="checkbox"] {
        width: 15px;
        height: 15px;
    }

    input[type="checkbox"]:checked {
        background: $secondary;
    }
}

/*              MAP SECTION             */
.map-section {
  @include flex;
  height: 700px;

  @media #{$bp-full} {
    display: block;
    height: 1000px;
  }

    .tweet-preview {
        height: 700px;
    }

    button {
        width: 50%;
        padding: 8px 20px;
    }
}

/* -----------------------------------------
           MAP SECTION
----------------------------------------- */
.map__container {
  width: 65%;
  height: inherit;

  @media #{$bp-full} {
    width: 100%;
    height: 500px;
  }
}

.timeinterval-txt {
    font-weight: bold;
}

/* -----------------------------------------
           TWITTER PREVIEW SECTION
----------------------------------------- */
.preview__container {
  height: inherit;
  width: 35%;

  @media #{$bp-full} {
    width: 100%;
    height: 500px;
  }

  h2 {
    padding: 5px 0;
  }

}

.twitter-preview__filters {
  @include flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 10px 40px;
  margin: 0;

  @media #{$bp-full} {
    justify-content: center;
  }

  .twitter-preview__filters--item {
    width: 50%;

    label {
      font-weight: normal;
      font-size: 14px;

      @media #{$bp-full} {
        margin-right: 40px;
      }
    }

    input {
      margin-right: 5px;
    }

    @media #{$bp-full} {
      width: auto;
    }
  }

}

.twitter-preview__feedback {
  @include flex;
  justify-content: center;

  p {
    display: none;
    font-weight: bold;
    text-align: center;
    width: 60%;
    text-transform: uppercase;
  }
}

/*              THE TWEETS             */
.twitter-preview__container {
  @include flex;
  flex-direction: column;
  height: 70%;
}


.the-tweets {
  margin: 0 10px 20px 10px;
  overflow: scroll;
  flex: 1;

  @media #{$bp-full} {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

}

.twitter-tweet {
  @media #{$bp-full} {
      width: 49% !important;
  }
}

.preview__container__button {
  @include flex;
  justify-content: center;

  button {
    min-width: 200px;

    @media #{$bp-full} {
        width: 30%;
    }
  }

}


/* -----------------------------------------
           GRAPH SECTION
----------------------------------------- */
.sx-section {
    @include flex;
    padding-top: 25px;
}
